page-home {

	  ion-card {
    position: relative;
    text-align: center;
    height: 48%;

    }
 

    ion-fab {

      .germanIcon{
        background-image: url("../assets/germanIcon.png");
        background-repeat: no-repeat;
        color: #32db64;
        font-size: 1.7em;
        text-shadow: 2px 2px #6F6B6B;

      }

      .rubiusIcon{
        background-image: url("../assets/rubiusIcon.png");
        background-repeat: no-repeat;
        color: #32db64;
        font-size: 1.7em;
        text-shadow: 2px 2px #6F6B6B;
      }

      .versus {
        font-size: 1.7em;
        text-shadow: 2px 2px #6F6B6B;
      }

    }

  .card-title {
    position: absolute;
    top: 3%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
    color: #FCD70B;
    text-shadow: 2px 2px #6F6B6B;
  }
  
  img {
  	width: 100%;
  	height: 100%;
  }


      .flip-container {
            perspective: 1000px;
        }
 
            /* flip the pane when hovered */
            .flip-container.flipped .flipper {
                transform: rotateY(360deg);
            }
 
        .flip-container, .front, .back {
            width: 90vw;
            height: 40vh;
            margin: 20px auto;
        }
 
        /* flip speed goes here */
        .flipper {
            transition: 0.6s;
            transform-style: preserve-3d;
 
            position: relative;
        }
 
        /* hide back of pane during swap */
        .front, .back {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ecf0f1;
            backface-visibility: hidden;
            -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            border: 1px solid #dee2e3;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
 
        /* front pane, placed above back */
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }
 
        /* back, initially hidden pane */
        .back {
            transform: rotateY(180deg);
        }
 


}
